.product-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
  position: relative;
}

.newarrival{
	position:absolute;
	top:0;
	left:0
}

.product-information p {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
}

.product-information span {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 18px;
}
.product-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}



.view-product {
  position: relative;
}

.view-product img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
}

.view-product h3 {
  background: #FE980F;
  bottom: 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 8px 20px;
  position: absolute;
  right: 0;
}
.product-information span span {
  color: #FE980F;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 0px;
}
.product-information span input {
  border: 1px solid #DEDEDC;
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  outline: medium none;
  text-align: center;
  width: 50px;
}

.product-information span label {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 5px;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2%;
    border-radius: 10px;
    margin:10px;
  }

  .pre
  {
	  visibility:hidden;
  }
  
  .card:hover {
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
  }

  h4 {
    font-weight: bold;
  }

  img.food {
    width: 100%;
    height: 100px;
  }

  /*sidenav*/

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top:60px;
  }
  
  h2
  {
	  margin-left:30px;
	  color:#f1f1f1;
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

 /* input[type=text] {
    width: 20%;
    border: none;
    border-bottom: 1px solid #818181;
    text-align: center;
    color: #111;
  }*/

  .btn {
    border-radius: 40%;
  }

  .center {
    margin: auto;
    display: block;
  }

  .container1 {
    text-align: center;
  }
  
  #snackbar1,#snackbar2
  {
	  visibility:hidden;
	  min-width:250px;
	  margin-left:-125px;
	  background-color:#333;
	  color:#fff;
	  text-align:center;
	  border-radius:2px;
	  padding:16px;
	  position:fixed;
	  z-index:1;
	  left:50%;
	  bottom:30px;
  }
  #snackbar1.show,#snackbar2.show
  {
	  visibility:visible;
	  animation:fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#logo1
{
	color:blue;
	font-weight:bold;
	text-align:center;
}

h1
{
	color:blue;
	text-align:center;
	font-size:50px;
	text-decoration:underline;
	font-family:aspire;
	font-weight:bold;
}
/* checkout*/
.heading {
  text-align: center;
  font-size:24px;
}
.login-form, .register-form{
  margin-top: 60px;
  background-color: #F2F2F2;
  padding: 20px 20px;
  border-radius: 10px;
}
.email {
  margin-bottom: 10px;
}
#password,#c_password {
  margin-bottom: 10px;
}
.create_account {
  margin-top: 10px;
  text-align: center;
}
.first_name {
  margin-bottom: 10px;
}
.last_name {
  margin-bottom: 10px;
}
.email {
  margin-bottom: 10px;
}
.cno {
  margin-bottom: 10px;
}

